@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
}

.container{
    position: relative;
    width: 850px;
    height: 550px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.container-register{
    position: absolute;
    width: 850px;
    height: 650px;
    background-color: #fff;
    color: #280594;
    display: grid;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
}

.form-box{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #280594;
    display: flex;
    align-items: center;
    color: #fff;
}

form {
    width: 100%;
}

.container h1 {
    font-size: 36px;
    margin: -10px 3;
}

.input-box {
    position: relative;
    margin: 10px;
}

.input-box input {
    width: 100%;
    padding: 13px 15px 13px 20px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(20%);
    font-size: 20px;
    color: #280594;
}

button {
    background: linear-gradient(90deg, #280594, #F8A39B);
}

a{
    color: #F8A39B;
}

.image-box{
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #280594;
    display: flex;
    align-items: center;
    color: #fff;
}
